# The gitignore file specifies intentionally untracked files that Git
# should ignore.
#
*
# except this files:
!Makefile
!*.c
!*.h
!screenshot.png
!*/
!docs/doxygen/another_snake_game.conf
!docs/doxygen/main.dox
